*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  margin-inline: auto;
}

.color {
  color: "#3F3D56";
}

.nav-tabs .nav-link {
    border-bottom: none;
    padding: 0.5rem 2rem;
    color: #3F3D56;
}
.nav-tabs .nav-link.active {
    background-color: #EBF5E2;
}

