*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;

  margin-inline: auto;
}

.color {
  color: "#3F3D56";
}

.nav-tabs,
.nav-link,
.nav-item {
  border-bottom: none;
  padding: 0;
  color: #3F3D56;
  margin: 0;
}

.nav-tabs .nav-link.active {
  background-color: #EBF5E2;
}

.dashboard-tabs .nav-link {
  /* add padding  */
  padding: 0.5rem 1rem;
}

#coursepage-mainsection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#coursepage-mainsection ul li {
  padding: 0;
}

#coursepage-mainsection ul li a {
  color: #3F3D56;
  text-decoration: none;
  display: block;
  padding: 0;
}

/* .MuiAutocomplete-root .MuiAutocomplete-popper {
  z-index: 999;
  border: "5px solid red";
  background: "black";
} */

.home-coursetype-select-arrow {
  position: absolute;

  background-image: url(/images/down_arrow.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 12px 12px;
  background-position-y: center;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  z-index: 2;
}

/* The container holding your lessons */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  /* Make it very thin */
}

/* The background of the scrollbar area */
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  /* Keeps the gradient visible */
}

/* The draggable handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  /* Rounds the edges */
}

/* Highlight the handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* The container holding your lessons */
.custom-scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  /* Make it very thin */
}

/* The background of the scrollbar area */
.custom-scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  /* Keeps the gradient visible */
}

/* The draggable handle */
.custom-scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  /* Rounds the edges */
}

/* Highlight the handle on hover */
.custom-scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}