*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
  height: 100dvh;
  height: 100svh;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  
  margin-inline: auto;
}

.color {
  color: "#3F3D56";
}

.nav-tabs, .nav-link, .nav-item {
    border-bottom: none;
    padding: 0;
    color: #3F3D56;
    margin: 0;
}
.nav-tabs .nav-link.active {
    background-color: #EBF5E2;
}

.dashboard-tabs .nav-link {
    /* add padding  */
    padding: 0.5rem 1rem;
}

#coursepage-mainsection ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#coursepage-mainsection ul li {
    padding: 0;
}

#coursepage-mainsection ul li a {
    color: #3F3D56;
    text-decoration: none;
    display: block;
    padding: 0;
}
